@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 768px) and (max-width: 979px) { 
}

@media screen and (max-width: 767px) {    
}

@media screen and (max-device-width: 480px) { 
}
